def requested_size = 'panel'
def size_label = ''
if (requested_size == 'wgs') {
    size_label = 'wgs'
} else {
    size_label = 'panel'
}

def scratch_root = "/tmp/${USER}"

def queueLabel(size) {
    switch (size) {
        case 'wgs':
            return 'long'
        default:
            return 'short'
    }
}

params {
    cohort_size = requested_size
    cohort_label = size_label
    cohort_scratch = scratch_root
    cohort_queue = queueLabel(params.cohort_size)
}

profiles {
    test {
        process.executor = 'local'
    }
}
