plugins {
    id 'nf-schema@2.7.2'
}

params {
    cohort_size = 'trio'
    cohort_label = params.cohort_size == 'cohort' ? 'cohort' : 'trio'
    cohort_scratch = "/tmp/${System.getenv('USER') ?: 'user'}"
    cohort_queue = {
        if (params.cohort_size == 'cohort') {
            return 'high'
        } else {
            return 'standard'
        }
    }.call()
}

validation {
    ignoreParams = [
        'cohort_size',
        'cohort_label',
        'cohort_scratch',
        'cohort_queue'
    ]
}

profiles {
    test {
        process {
            executor = 'local'
        }
    }
}
