def user_label = "${USER}"

def chooseQueue(value) {
    switch (value) {
        case '_qc':
            return 'short'
        default:
            return 'debug'
    }
}

params {
    suffix = '_qc'
    capstone_user_label = user_label
    capstone_queue_label = chooseQueue(params.suffix)
}

profiles {
    test {
        process.executor = 'local'
    }
}
