def selected_size = 'trio'
def size_tier = ''
if (selected_size == 'cohort') {
    size_tier = 'cohort'
} else {
    size_tier = 'trio'
}

def tmp_root = "/tmp/${USER}"

def memProfile(tier) {
    switch (tier) {
        case 'cohort':
            return 'high'
        default:
            return 'standard'
    }
}

params {
    cohort_size = selected_size
    cohort_label = size_tier
    cohort_scratch = tmp_root
    cohort_queue = memProfile(params.cohort_size)
}

profiles {
    test {
        process.executor = 'local'
    }
}
