plugins {
    id 'nf-schema@2.7.2'
}

params {
    suffix = '_trimmed'
    capstone_user_label = "${System.getenv('USER') ?: 'user'}"
    capstone_queue_label = {
        if (params.suffix == '_trimmed') {
            return 'short'
        } else {
            return 'debug'
        }
    }.call()
}

validation {
    ignoreParams = [
        'suffix',
        'capstone_user_label',
        'capstone_queue_label'
    ]
}

profiles {
    test {
        process {
            executor = 'local'
        }
    }
}
